.COLOR{
    background-color: #2f4460;
};

h1{
   text-decoration: #B4B4B4;
}
img{
    border: 8px solid rgba(197, 192, 192, 0.349);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Adiciona profundidade */

}
*{
    cursor: url(cusDaggerPoint.cur), default !important;
}